{% extends "global/base.html" %}

<!-- Title page -->
{% block title %}Dashboard Recipe{% endblock title %}

{% block content %}
    <!--Título-->
    <div class="main-content center container">
        <h2>Dashboard Recipe</h2>
        <!--Mensagem -->  
        {% include "global/partial/message.html" %}
        {% include "authors/partials/login_message.html" %}

        <div class="left">
            {% include "global/partial/form.html" %}
        </div>
    </div>

    

{% endblock content %}