{% extends "global/base.html" %}

<!-- Title page -->
{% block title %}Login | {% endblock title %}

{% block content %}
    <!--Título-->
    <div class="main-content center container">
        <h2>Login</h2>
        {% include "authors/partials/login_message.html" %}
    </div>

    <!--Mensagem -->  
    {% include "global/partial/message.html" %}

    <!--Formulário-->
    {% if not request.user.is_authenticated %}
        {% include "global/partial/form.html" %}
    {% endif %}
{% endblock content %}
