{% include 'recipes/partial/head.html' %}

<body>
    {% include 'recipes/partial/header.html' %}
    {% include 'recipes/partial/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
            {% include 'recipes/partial/recipe.html' %}
        </div>
    </main>
    {% include 'recipes/partial/footer.html' %}
</body>
</html>